* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

body {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.space {
    height: 5vh;
}

button {
    font-weight: 700;
    background-color: transparent;
    border: solid 1px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    width: 100%;
    height: 5vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    background-color: tomato;
    z-index: 1;
}

.header>div>button {
    text-align: center;
    padding: 5px;
    height: 100%;
    width: 3rem;
    border: none;
}

.header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 1.9rem;
    height: 100%;
}

.header>div button:last-child {
    margin-right: 4px;
    position: absolute;
    right: 0px;
}

.header>div button:first-child {
    margin-left: 4px;
    position: absolute;
    left: 0px;
    transform: rotate(180deg);
}

.header>div>button:active {
    transform: scale(70%);
}

.header>div>button:first-child:active {
    transform: scale(70%) rotate(180deg);
    /* transform: rotate(180deg); */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    gap: 1rem;
    /* margin: 30px; */
}

.card {
    position: relative;
    border: solid;
    /* width: auto;
    height: auto; */
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, 1fr));
    align-items: center;
    /* justify-items: ; */
    gap: 3px;
    border: solid 2px pink;
    border-radius: 9px;
    /* margin: px; */
    background-color: white;
}

.card>div {
    background-color: black;
    border-radius: 9px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 60px;
    width: min-content;
    text-align: center;
    padding: px;
    margin-bottom: 3px;
    opacity: 0.7;
}

.card>p {
    /* height: 2.5rem; */
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    word-spacing: 500px;
}

@media screen and (min-width: 625px) {
    html {
        font-size: 14px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 400px;
        gap: 1rem;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(7, minmax(40px, 1fr));
    }
}